.program-promo {
  position: relative;
  padding: 3.75rem 0;

  &::after {
    content: '';
    position: absolute;
    left: 0rem;
    top: 12.25rem;
    width: 27.4375rem;
    height: 27.5625rem;
    background: url('#{$base-url}/assets/icons/metal-abstraction.svg') no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 3.9375rem;

    img {
      width: 33.0625rem;
      height: 22.0625rem;
    }

    p {
      color: $abyssal;
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.375rem;
      padding: 3.75rem 0;
    }
  }
}

@media (max-width: 1024px) {
  .program-promo {
    padding: 3.25rem 0;

    &::after {
      width: 19.625rem;
      height: 19.744rem;
      top: 10.25rem;
    }


    &__container {


      img {
        width: 22.813rem;
        height: 15.25rem;
        
      }

      p {
        font-size: 1.5rem;
        line-height:  1.813rem;
        display: flex;
        align-self: center;
        padding: 0;
      }
    }
  }

 
}


@media (max-width: 460px) {
  .program-promo {
    padding: 2.188rem 0;

    &::after {
      position: absolute;
      width: 8.012rem;
      height: 8.048rem;
      top: 23.25rem;
    }


    &__container {
      flex-direction: column;
      gap: 1.625rem;


      img {
        width: 17.688rem;
        height: 11.813rem;
        display: flex;
        align-self: center;
        
      }

      p {
        font-size: 1.25rem;
        line-height:  1.5rem;
        display: flex;
        align-self: center;
        padding: 0;
      }
    }
  }

 
}


